
<div class="contenedor">
  <div class="wrapper">
    <h2>Registro Venta</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <input  placeholder="Fecha de Venta" type="date" id="fechaVenta" formControlName="fechaVenta" required>
      </div>
      <div class="input-box">
        <input placeholder="Subtotal" type="number" id="subtotal" formControlName="subtotal" required>
      </div>
      <div class="input-box">
        <input placeholder="Ciudad de Expedición" type="text" id="ciudadExp" formControlName="ciudadExp" required>
      </div>
      <div class="input-box">
        <input placeholder="Impuestos" type="number" id="impuestos" formControlName="impuestos" required>
      </div>
      <div class="input-box">
        <input placeholder="Descuentos" type="number" id="descuentos" formControlName="descuentos" required>
      </div>
      <div class="input-box">
        <input placeholder="Total" type="number" id="total" formControlName="total" required>
      </div>
      <div class="input-box">
        <input placeholder="ClienteId" type="number" id="ClienteId" formControlName="ClienteId" required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Enviar">
        <input type="button" value="Cancelar" (click)="cancel()">
      </div>
    </form>
  </div>
</div>