<div class="contenedor">
  <app-menuauxiliar rutaDeseada="/ventas"></app-menuauxiliar>
  <p-table [value]="ventas" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Id</th>
              <th>Fecha</th>
              <th>Subtotal</th>
              <th>CiudadExp</th>
              <th>Impuestos</th>
              <th>Descentos</th>
              <th>Total</th>
              <th>ClienteId</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ventas>
          <tr>
              <td>{{ ventas.id }}</td>
              <td>{{ ventas.fechaVenta }}</td>
              <td>{{ ventas.subtotal }}</td>
              <td>{{ ventas.ciudadExp }}</td>
              <td>{{ ventas.impuestos }}</td>
              <td>{{ ventas.descuentos }}</td>
              <td>{{ ventas.total }}</td>
              <td>{{ ventas.ClienteId }}</td>        
          </tr>
      </ng-template>
  </p-table>
</div>